@using CommonLibrary.ViewModels
@model List<PatientViewModel>
@{
    ViewData["Title"] = "PatientList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table>
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        

    </tbody>
</table>

