@{
    ViewData["Title"] = "AddAppointment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>

    <form asp-action="AddAppointment" asp-controller="AppointmentManagement" asp-area="Admin" method="post">
        <div class="form-group">
            <label for="doctor">Doktor Seçiniz</label>
            <select id="doctor" name="DoctorId" class="form-control">
                <option value="">-- Bir Doktor Seçiniz --</option>
                @foreach (var doctor in (IEnumerable<SelectListItem>)ViewBag.Doctors)
                {
                    <option value="@doctor.Value">@doctor.Text</option>
                }
            </select>
        </div>
        <button type="submit">Ekle</button>
    </form>
</div>

